.loginFormGroup {
  margin-bottom: 10px;
}

.loginFormTitle h1 {
  position: relative;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #FFBA08;
  display: flex;
  justify-content: center;
}

.loginFormLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
  color: #FFBA08;
  font-size: 25px;
}

.validFormInput {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #FFBA08;
  font-weight: bold;
}

.invalidFormInput {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #D00000;
  font-weight: bold;
}

.formError {
  position: absolute;
  margin-top: 0;
  padding: 0;
  color:#D00000;
}

.loginButton {
  position: absolute;
  background-color: #FFBA08;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.loginButton:hover {
  transition: .2s;
  font-size: 25px;
  background-color: #136F63;
}

/*
#D00000 ERRORS
#FFBA08 TEXT 
#3F88CF LIGHT BLUE
#032B43 BLACK, options
#136F63 green
*/
