
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: fit-content;
  border-radius: 10px;
  background-color: #3F88CF;
}

.header {
  background-color: transparent; 
  padding: 10px;
}

.nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.button,
.activeButton,
.logoutButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #FFBA08;
  font-size: 25px;
  font-weight: bold;
  margin: auto;
  transition: .5s;
}

.button:hover {
  color: #032B43;
}

.activeButton {
  color: #032B43;
  text-decoration: underline;
}
